<footer class="fdb-block footer-large bg-dark">
  <div class="container">
    <div class="row align-items-top text-center text-md-left">
      <div class="col-12 col-sm-6 col-md-4">

        <p>Help Center</p>
        <p>English</p>
        <p>Dehli NCR</p>

      </div>

      <div class="col-12 col-sm-6 col-md-4 mt-4 mt-sm-0">
        <h3><strong>About Us</strong></h3>
        <p>Blogs</p>
        <p>Carriers</p>
        <p>Payment Portal</p>
        <p>Contact Us</p>

      </div>

      <div class="col-12 col-md-4 mt-5 mt-md-0 text-md-left">
        <h3><strong>Help and Support</strong></h3>
        <p>FAQ</p>
        <p>Terms and Condition</p>
        <p>Cookies Policy</p>
        <p>Privacy & Policy</p>
      </div>
    </div>

    <div class="row justify-content-between">
      <div class="col-11 col-sm-7 col-md-6">
        <div class="trademark" style="margin-top: 20px;color:#989898;">
          © 2019 Onelap Telematics Pvt. Ltd. all rights reserved.
        </div>

      </div>
      <div class="col-12 col-sm-7 col-md-4">
        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
          <li class="ftco-animate"><a target="_blank" href="https://www.linkedin.com/company/onelap/about/"><span
                class="icon-linkedin"></span></a></li>
          <li class="ftco-animate"><a target="_blank" href="https://www.facebook.com/onelap.gps/"><span
                class="icon-facebook"></span></a></li>
          <li class="ftco-animate"><a target="_blank" href="https://www.instagram.com/onelap.in/"><span
                class="icon-instagram"></span></a></li>
          <li class="ftco-animate"><a target="_blank" href=""><span class="icon-youtube"></span></a></li>
          <li class="ftco-animate"><a target="_blank" href=""><span class="icon-spotify"></span></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>