<!-- Headers 17 -->
<header class="bg">
  <div class="container">
    <nav class="navbar navbar-expand-md no-gutters">
      <div class="col-1  col-lg-1 text-left">
        <a href="https://www.froala.com">
          <img src="/src/assets/images/asset6.png" class="animate pulse" height="30" alt="image">
        </a>
      </div>
      <div class="col-9 col-md-4 col-lg-6 text-left">
        <span> Request a callback to get BEST DIWALI offer and deals</span>
      </div>

      <ul class="navbar-nav col-md-7 col-lg-5 justify-content-end d-none d-md-flex ">
        <li class="nav-item">
          <a href="https://api.whatsapp.com/send?phone=7071344681" class="linkcolor"><img alt="example-image"
              class="iconstyling" src="/src/assets/images/asset2.png">
            +91 782 7217 494</a>
        </li>
        <li class="nav-item">
          <a class="linkcolor" href="#"> <img class="iconstyling" src="/src/assets/images/asset3.png"
              alt="example-image">1800
            103 0274<img style="margin-left: 15px" src="/src/assets/images/asset5.png" alt="example-image"></a>
        </li>
        <li class="nav-item">
          <a class="linkcolor" href=""><img class="iconstyling" src="/src/assets/images/asset4.png"
              alt="example-image">Log
            In</a>
        </li>
      </ul>
    </nav>
  </div>
</header>